#leftRoomSection{
    padding: 1em;
    width: 30%;
    position: fixed;
    left: 0;
    top: 0;
}

#online{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: lightgreen;
    display: inline-block;
}

#onlineNr{
            
}

#roomMembers{
    margin-left: 1em;
}

#roomMembers li{
    padding: 0.3em;
}