#leftRoomSection{
    padding-left: 1em;
    max-width: 30%;
    position: relative;
    float: left;
    left: 0;
    top: 0;
    color: white;
    padding-top: 1em;
}

#roomHeader{
    margin: 0;
    padding: 0;
}

#connectionForm{
    position: fixed;
    bottom: 0;
    width: inherit;
}

#connectionForm h3{
    font-weight: 300;
}

#connectionInput{
    width: inherit;
    height: 2em;
    margin-top: 1em;
    font-size: 1.2em;
}

#connectionBtn{
    background: transparent;
    border: 2px solid #d3a376;
    padding: 10px;
    color: #FFF;
    font-size: 1.2em;
    display: block;
    transition: all 0.1s linear;
}

#connectionBtn:hover{
    cursor: pointer;
    background: #d3a376;
}

#online{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: lightgreen;
    display: inline-block;
    margin-top: 2em;
}

#onlineNr{
            
}

#roomMembers{
    margin-left: 1em;
}

#roomMembers li{
    padding: 0.3em;
}