#msgArea{
    width: 60%;
    margin: 0 auto;
}

#disconnectBtn{
    background: transparent;
    font-size: 1.2em;
    border: 3px solid red;
    border-radius: 3px;
    padding: 10px;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.1s linear;
    position: fixed;
    left: 68%;
}

#disconnectBtn:hover{
    background: red;
    color: white;
}

#userMsg { 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 60%; 
}
#userMsg input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}
#userMsg button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; padding: 10px; 
}
#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 1em;
    margin-bottom: 2.5em;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}
#messages li { 
    padding: 1em 1em;
    display: block;
    border-radius: 5px;
    width: 50%;
    margin-top: 1em;
    box-shadow: 5px 6px 10px 0px rgba(0,0,0, 0.1)
}

#messages .personal{
    background: linear-gradient(to right,#20c3ff, #1bb8f3);
    margin-left: 50%;
}

#messages .foreign{
    background: linear-gradient(to right, #edf3f3, #e2e7e7);
}

#messages .broadcast{
    background-image: linear-gradient(to right, #11ff33, #0df12d);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}

#messages .disconnected{
    background: linear-gradient(to right,#f54d4d, #ec4a4a);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}

#usertype{
    width: 100%;
    padding: 10px;
    background: darkgray;
    color: white;
    position: fixed;
    top: 92%;
    visibility: hidden;
}