#msgArea{
    width: 60%;
    margin: 0 auto;
}

#disconnectBtn{
    background: transparent;
    font-size: 1.2em;
    border: 1px solid red;
    border-radius: 3px;
    padding: 10px;
    margin-top: 2em;
    transition: all 0.1s linear;
    position: fixed;
    left: 68%;
    color: #FFF;
}

#disconnectBtn:hover{
    background: red;
    cursor: pointer;
}

#userMsg { 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 60%; 
}
#userMsg input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}

#emojiIcon{
    position: fixed;
    bottom: 0;
    margin-bottom: 0.8em;
    right: 27%;
}

#emojiBtn:hover{
    cursor: pointer;
}

#emojiContainer{
    height: 350px;
    width: 280px;
    position: fixed;
    background: #FFF;
    right: 26%;
    bottom: 3em;
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
}

.emoji{
    display: inline-block;
    padding: 5px;

}

.emoji:hover{
    cursor: pointer;
}

#sendBtn { 
    width: 9%; 
    background: #d3a376; 
    border: none; 
    padding: 10px;
    color: #FFF;
    font-size: 1.2em; 
}

#sendBtn:hover{
    cursor: pointer;
}

#userMsg:hover{
    cursor: pointer;
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 1em;
    margin-bottom: 2.5em;
    height: 90vh;
    overflow: hidden;
    overflow-y: scroll;
}
#messages li { 
    padding: 1em 1em;
    width: fit-content;
    border-radius: 3px;
    margin-top: 1em;
    color: #FFF;
    border: 1px solid;
}

#messages li p:nth-child(2){
    margin-top: 0.5em;
}

#messages .personal{
    border-color: #ffd9e7;
    /*background: linear-gradient(to right,#e0eff5, #d3e8f1);*/
}

#messages .foreign{
    border-color: #e0eff5;
}

#messages .broadcast{
    border-color: #11ff33;
    width: 50%;
    margin: auto;
    margin-top: 1em;
}

#messages .disconnected{
    border-color: #f54d4d;
    width: 50%;
    margin: auto;
    margin-top: 1em;
}

#usertype{
    width: 100%;
    padding: 10px;
    background: darkgray;
    color: white;
    position: fixed;
    top: 92%;
    visibility: hidden;
}