#rooms{
    position: fixed;
    right: 1em;
    top: 0;
    color: #FFF;
    max-width: 240px;
}

#rooms h3{
    margin-top: 1em;
    text-align: center;
    font-weight: 300;
}

#rooms button{
    width: 100%;
    background: transparent;
    font-size: 1em;
    border: 3px solid #FFF;
    border-radius: 3px;
    padding: 10px;
    margin-top: 1em;
    cursor: pointer;
    transition: all 0.1s linear;
    color: #FFF;
}

#rooms button:hover{
    background: #FFF;
    color: #000;
}